In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [11]:
df = datasets.fetch_covtype()

In [12]:
df

{'data': array([[2.596e+03, 5.100e+01, 3.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.590e+03, 5.600e+01, 2.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.804e+03, 1.390e+02, 9.000e+00, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        ...,
        [2.386e+03, 1.590e+02, 1.700e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.384e+03, 1.700e+02, 1.500e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00],
        [2.383e+03, 1.650e+02, 1.300e+01, ..., 0.000e+00, 0.000e+00,
         0.000e+00]]),
 'target': array([5, 5, 2, ..., 3, 3, 3]),
 'DESCR': 'Forest covertype dataset.\n\nA classic dataset for classification benchmarks, featuring categorical and\nreal-valued features.\n\nThe dataset page is available from UCI Machine Learning Repository\n\n    http://archive.ics.uci.edu/ml/datasets/Covertype\n\nCourtesy of Jock A. Blackard and Colorado State University.\n'}

In [13]:
df.data

array([[2.596e+03, 5.100e+01, 3.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.590e+03, 5.600e+01, 2.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.804e+03, 1.390e+02, 9.000e+00, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       ...,
       [2.386e+03, 1.590e+02, 1.700e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.384e+03, 1.700e+02, 1.500e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00],
       [2.383e+03, 1.650e+02, 1.300e+01, ..., 0.000e+00, 0.000e+00,
        0.000e+00]])

In [14]:
df.target

array([5, 5, 2, ..., 3, 3, 3])

In [ ]:
 np.log10(np.abs(x))

In [64]:
import math

def sigmoid(x):
    return 1 / (1 + np.exp(-x))

In [61]:
#Returns 1D array of probabilities that the class label == 1
def predict(features, weights):
    z = np.dot(features, weights)
    return sigmoid(z)

In [18]:
#   Cost = (labels*log(predictions) + (1-labels)*log(1-predictions) ) / len(labels)



def cost_function(features, labels, weights):
    
    observations = len(labels)

    predictions = predict(features, weights)

    #Take the error when label=1
    class1_cost = -labels*np.log(predictions)

    #Take the error when label=0
    class2_cost = (1-labels)*np.log(1-predictions)

    #Take the sum of both costs
    cost = class1_cost + class2_cost

    #Take the average cost
    cost = cost.sum() / observations

    return cost

Repeat {

  1. Calculate gradient average
  2. Multiply by learning rate
  3. Subtract from weights

}

In [20]:
def update_weights(features, labels, weights, lr):

    N = len(features)

    #1 - Get Predictions
    predictions = predict(features, weights)

    #2 Transpose features
    gradient = np.dot(features.T,  predictions - labels)

    #3 Take the average cost derivative for each feature
    gradient /= N

    #4 - Multiply the gradient by our learning rate
    gradient *= lr

    #5 - Subtract from our weights to minimize cost
    weights -= gradient

    return weights

Decision boundary

In [21]:
def decision_boundary(prob):
    return 1 if prob >= .5 else 0

Convert probabilities to classes

In [94]:
def classify(predictions):
    decision_boundary = np.vectorize(decision_boundary)
    return decision_boundary(predictions).flatten()

In [25]:
def train(features, labels, weights, lr, iters):
    cost_history = []

    for i in range(iters):
        weights = update_weights(features, labels, weights, lr)

        #Calculate error for auditing purposes
        cost = cost_function(features, labels, weights)
        cost_history.append(cost)
        return weights, cost_history

In [27]:
def accuracy(predicted_labels, actual_labels):
    diff = predicted_labels - actual_labels
    return 1.0 - (float(np.count_nonzero(diff)) / len(diff))

# For testing binary classes i used titanic datasetl

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

In [29]:
df = pd.read_csv("E:/DataScience_Study/3months/Data-Lit/week4-Regression/4.5_Logistic/titanic_train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
df.dropna(inplace=True)

In [31]:
df.drop('Cabin', axis=1,inplace=True)

In [32]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [33]:
sex = pd.get_dummies(df['Sex'], drop_first=True)

In [34]:
embarked = pd.get_dummies(df['Embarked'], drop_first=True)

In [35]:
Pcl = pd.get_dummies(df['Pclass'], drop_first=True)

In [36]:
df = pd.concat([df, sex, embarked, Pcl], axis=1)

In [37]:
df.drop(['PassengerId', 'Pclass', 'Name', 'Sex', 'Ticket'], axis=1, inplace=True)

In [38]:
df = df.drop('Embarked', axis=1)

In [71]:
X = df.drop('Survived', axis=1)
y = df['Survived']
print(X.shape)
print(y.shape)

(183, 9)
(183,)

In [72]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [79]:
X_train = X.iloc[0:130,:]

In [80]:
X_test = X.iloc[130:,:]

In [81]:
y_train = y[0:130, None]

In [82]:
y_test = y[130:, None]

In [73]:
W1 = 0.0 
W2 = 0.0
W3 = 0.0
W4 = 0.0
W5 = 0.0
W6 = 0.0
W7 = 0.0
W8 = 0.0
W9 = 0.0

weights = np.array([
    [W1],[W2],[W3],[W4],[W5],[W6],[W7],[W8],[W9]
])

In [74]:
alpha = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]
parameters = {'alpha': [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]}
iters = 100

In [96]:
weights, cost_history = train(X_train, y_train, 0.01, weights, iters)
cost_history

C:\Users\ikd\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: divide by zero encountered in log
  from ipykernel import kernelapp as app
C:\Users\ikd\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in multiply
  from ipykernel import kernelapp as app

[nan]